h3 {
    color: #32325d;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

li a {
    text-decoration: none;
    color: #5e72e4;
    transition: color 0.3s ease;
}

li a:hover {
    color: #233dd2;
    text-decoration: underline;
}
